* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

:root {
  --light-bg-color: #ddd;
  --light-text-color: #2c2c2c;
  --light-gray: #6b6b6b;
  --tool-bg-color: rgba(238, 238, 238, 0.5);
  --dark-bg-color: #111111;
  --dark-text-color: #e9e9e9;
  --dark-gray: #9f9f9f;
  --dark-tool-bg-color: rgba(29, 29, 29, 0.5);

  --text-xs: clamp(0.75rem, 0.8rem + 0.25vw, 0.875rem);
  --text-sm: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
  --text-base: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
}

.dark-mode {
  --light-bg-color: var(--dark-bg-color);
  --light-text-color: var(--dark-text-color);
  --tool-bg-color: var(--dark-tool-bg-color);
  --light-gray: var(--dark-gray);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open sans", sans-serif;
  font-size: var(--text-sm);
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  letter-spacing: 0.5px;
  padding-top: 2rem;
}

p,
li,
time {
  opacity: 0.8;
}

h1,
h2,
h3 {
  font-size: var(--text-base);
  font-family: "Stylish", serif;
  text-transform: uppercase;
}

h2 {
  margin-bottom: var(--space-md);
}

main,
footer,
.toggle-container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: content-box;
}

.hero,
#skills,
#projects,
#articles,
footer {
  padding-bottom: var(--space-lg);
}

.toggle-container {
  display: flex;
  justify-content: flex-end;
}

.dark-mode-toggle {
  position: relative;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.dark-mode-toggle:hover {
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.dark-mode-toggle svg {
  padding-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.dark-mode-toggle .moon {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0);
}

.dark-mode-toggle .sun {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.dark-mode .dark-mode-toggle .moon {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(90deg);
}

.dark-mode .dark-mode-toggle .sun {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0);
}

.google-btn {
  /* padding-inline: var(--space-xs); */
  padding-top: 10px;
  color: var(--light-text-color);
}

.google-btn:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: var(--space-md) 0;
}

.avatar {
  flex-shrink: 0;
}

.avatar img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.avatar-occupation {
  font-style: italic;
}

.default-button {
  display: flex;
}

.default-button a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: var(--space-xs) var(--space-sm);
  border-radius: 6px;
  border: 1px solid var(--light-gray);
  position: relative;
  overflow: hidden;
  font-size: var(--text-xs);
}

.default-button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--light-text-color);
  transition: left 0.3s ease;
  z-index: -1;
}

.default-button a:hover {
  color: var(--light-bg-color);
}

.default-button a:hover::before {
  left: 0;
}

.socials {
  display: flex;
  gap: var(--space-xs);
  margin: var(--space-xs) 0;
}

.socials li {
  letter-spacing: 2px;
  cursor: pointer;
  padding: 0 2px;
  transition: opacity 0.3s ease;
}

.socials:hover li {
  opacity: 0.5;
}

.socials li:hover {
  opacity: 1;
}

.links {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-lg);
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-md);
  row-gap: var(--space-xs);
  width: 250px;
}

.links li:hover {
  text-decoration: underline;
}

.back-to-top {
  justify-content: flex-end;
}

.attribute {
  border-top: 1px solid var(--light-gray);
  margin-top: var(--space-sm);
  padding-top: var(--space-sm);
}

@media (min-width: 1200px) {
  main,
  footer,
  .toggle-container {
    max-width: 900px;
  }
}
