:root {
  --light-bg-color: #ddd;
  --light-text-color: #1d1d1d;
  --dark-bg-color: #141414;
  --dark-text-color: #dfd3c3;
  --tool-bg-color: rgba(194, 194, 194, 0.4);
  --dark-tool-bg-color: rgba(0, 0, 0, 0.4);
}

.dark-mode {
  --light-bg-color: var(--dark-bg-color);
  --light-text-color: var(--dark-text-color);
  --tool-bg-color: var(--dark-tool-bg-color);
}

.project-details, .go-back-button {
  max-width: 70rem;
  margin: 3rem auto;
  padding: 2rem 2.5vw;
}

.project-details h1 {
  margin-bottom: 2.5rem;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  text-wrap: nowrap;
  letter-spacing: 2px;
}

.project-intro {
  margin: 3rem 0;
}

.more-info {
  grid-column: 1 / 13;
}

.more-info div {
  margin-bottom: 2rem;
}

#project-image {
  width: 100%;
  margin-bottom: 9rem;
}

.tools,
.links {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  text-wrap: nowrap;
  opacity: 0.7;
  margin-bottom: 10px;
}

#project-tools,
.link-wrapper > li {
  font-size: 16px;
}

#project-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 8;
}

#project-tools > li {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 100px;
  border: 1px solid var(--light-text-color);
  display: inline-block;
  color: var(--light-text-color);
  text-align: center;
  margin: 0.35rem;
}

#project-description {
  font-size: 17px;
  line-height: 1.8;
  grid-column: 1 / 13;
  margin-bottom: 30px;
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 3rem;
  width: 100%;
  font-size: 14px;
}

.nav-btn a {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-arrow {
  height: 18px;
  width: 18px;
  display: flex;
}

.website-link {
  margin-top: 1rem;
  margin-bottom: 50px;
}

.website-link > a {
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 99px;
  line-height: 1;
  margin: 0 5px 10px;
  background-color: var(--tool-bg-color);
}

.website-link > a:hover {
  background-color: var(--light-text-color);
  color: var(--light-bg-color);
}


@media (min-width: 600px) {

  .project-intro {
    display: flex;
    align-items: flex-start;
    column-gap: 32px;
  }

  #project-description {
    grid-column: 1 / 9;
  }
  .more-info {
    grid-column: 10 / 13;
  }
}

@media (min-width: 800px) {
  #project-description {
    grid-column: 1 / 8;
  }
  .more-info {
    grid-column: 9 / 13;
  }
  .prev-arrow {
    left: 50px;
  }

  .next-arrow {
    right: 50px;
  }

  #project-description {
    font-size: 20px;
  }
}

