
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
}

:root {
  --light-bg-color: #ddd;
  --light-text-color: #1d1d1d;
  --light-gray: #6c6c6c;
  --tool-bg-color: rgba(194, 194, 194, 0.4);
  --dark-bg-color: #141414;
  --dark-text-color: #dfd3c3;
  --dark-gray: #9c9c9c;
  --dark-tool-bg-color: rgba(0, 0, 0, 0.4);
}

.dark-mode {
  --light-bg-color: var(--dark-bg-color);
  --light-text-color: var(--dark-text-color);
  --tool-bg-color: var(--dark-tool-bg-color);
  --light-gray: var(var(--dark-gray));
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  letter-spacing: 0.5px;
}

body:before {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100%;
  background-image: url(../images/noise.webp);
  background-size: cover;
  opacity: 0.05;
  z-index: -1000;
}

main,
header,
footer {
  width: 95%;
  max-width: 70rem;
  margin: 0 auto;
}

#hero,
#skills,
#projects,
#what-i-offer,
footer {
  padding: 2rem 2.5vw;
}

header,
nav > ul,
.nav-links,
.dark-mode-toggle,
.hero-container,
.polaroid-name,
.polaroid-details {
  align-items: center;
  display: flex;
}

.nav > ul {
  gap: 8;
}

header {
  justify-content: space-between;
  padding: 2.5rem 3vw;
  font-size: 0.75rem;
}

nav > ul,
.offer-card {
  justify-content: flex-end;
}

.nav-links li,
h2,
.socials li,
.project-title,
.hero-text,
.frontend-pill {
  text-transform: uppercase;
}

.nav-links {
  height: 32px;
  transition: color 0.3s ease;
}

.nav-links li {
  transition: opacity 0.3s ease;
  letter-spacing: 2px;
  padding: 3px 2px;
}

.nav-links:hover li a {
  opacity: 0.5;
}

.nav-links li:hover a {
  opacity: 1;
}

.hero-container {
  flex-direction: column;
  justify-content: center;
  font-family: "Kalam", cursive;
  margin-top: 50px;
  margin-bottom: 1rem;
  position: relative;
}

.frontend-pill {
  display: inline-block;
  background-color: var(--light-text-color);
  color: var(--light-bg-color);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: clamp(2rem, 11.5vw, 6rem);
  display: flex;
  font-family: "Kalam", cursive;
  font-weight: bold;
  letter-spacing: 6px;
  justify-content: center;
}

.hero-text span {
  transition: transform 0.3s ease;
}

.hero-text span:nth-child(1) {
  transform: rotate(-15deg);
}

.hero-text span:nth-child(2) {
  transform: scale(1.2);
}

.hero-text span:nth-child(3) {
  transform: rotate(6deg);
}

.hero-text span:nth-child(4) {
  transform: rotate(-5deg);
}

.hero-text span:nth-child(5) {
  transform: scale(1.1);
}

.hero-text span:nth-child(6) {
  transform: scale(1.3);
}

.hero-text span:nth-child(7) {
  transform: rotate(15deg);
}

.hero-text span:nth-child(8) {
  transform: scale(0.9);
}

.hero-text span:nth-child(2)::before {
  content: "\2605";
  font-size: 1.2em;
}

.hero-text span:nth-child(6)::before {
  content: "\263A";
  font-size: 1em;
}

.hero-text span:hover {
  transform: scale(1.5) rotate(10deg);
  transition: all 0.2s ease-in-out;
}

.bio-link {
  border-bottom: 2px solid var(--light-text-color);
}

.cv-link {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: 100px;
  border: 2px solid var(--light-text-color);
  text-decoration: none;
  color: var(--light-text-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 1.5rem;
}

.cv-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--light-text-color);
  transition: left 0.3s ease;
  z-index: -1;
}

.cv-link:hover {
  color: var(--light-bg-color);
}

.cv-link:hover::before {
  left: 0;
}

.polaroid {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #141414;
  padding: 10px;
  padding-bottom: 16px;
  text-align: center;
  margin: 0 auto;
  max-width: 250px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotate(-3deg);
  margin-top: 1rem;
  font-size: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1);
}

.polaroid:hover {
  transform: scale(1.05) rotate(2deg);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.polaroid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
  filter: grayscale(20%) sepia(10%);
  transition: filter 0.3s ease;
}

.polaroid-details {
  text-decoration: none;
}

.polaroid:hover img {
  filter: grayscale(0%) sepia(0%);
}

.pronoun {
  font-size: 0.65rem;
  color: #474747;
}

.polaroid-text {
  padding: 15px;
  text-align: center;
  border-top: 2px solid var(--accent-gray);
  position: relative;
}

.polaroid-name {
  margin-bottom: 9px;
}

.fa-solid {
  margin-right: 4px;
}

.name {
  font-weight: 600;
}

h2 {
  font-family: "Kalam", cursive;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 6px;
  transition: font-size 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
}

.skills {
  padding: 0.5rem 0;
  font-size: 1.75rem;
  position: relative;
}

#skills .skill-container {
  overflow: hidden;
}

#skills .skill-container .skills {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

#skills .skill-container .skills.skill-reveal {
  opacity: 1;
  transform: translateX(0);
}

.border-bottom {
  display: block;
  height: 1px;
  margin-top: 0.5rem;
  width: 100%;
  background: var(--light-text-color);
  opacity: 0.4;
  transition: width 0.5s cubic-bezier(0.87, 0, 0.13, 1) 0.4s;
}

.project-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  position: relative;
  margin-top: 1.5rem;
}

.project-image img {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  object-fit: cover;
}

.project-details {
  padding: 1rem 0;
}

.project-title {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.project-tags {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.project-tag {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.circle {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(to right, #ddd 50%, #141414 50%);
}

.circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("../images/noise.webp");
  background-size: cover;
  opacity: 0.05;
  pointer-events: none;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 40;
  justify-content: center;
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.dark-mode-toggle:hover {
  transform: scale(1.1) rotate(180deg);
}

.circle:hover {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.skip-link {
  position: absolute;
  top: -60px;
  left: 0;
  background: var(--light-bg-color);
  color: var(--light-text-color);
  padding: 6px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}

footer {
  margin: 4rem auto;
}

.cta-container {
  padding: 4rem 2rem;
  background-color: var(--light-text-color);
  color: var(--light-bg-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.cta-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}

.cta-container p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-bottom: 2rem;
}

.cta-button {
  background-color: #333;
  color: #fff;
  padding: 16px 26px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  width: 50%;
  margin: auto;
}

.cta-button:hover {
  background-color: #555;
}

.socials {
  width: 100%;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: flex-end;
}

.socials li {
  letter-spacing: 2px;
  cursor: pointer;
  padding: 0 2px;
  transition: opacity 0.3s ease;
}

.socials:hover li {
  opacity: 0.5;
}

.socials li:hover {
  opacity: 1;
}

.attribute {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.9;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 28px;
}

@media (min-width: 500px) {
  .hero-text {
    letter-spacing: 12px;
  }
}

@media (min-width: 600px) {
  .single-project {
    margin: 30px 0;
  }
  .single-project:nth-child(6n + 1) {
    grid-column: 1 / 8;
  }

  .single-project:nth-child(6n + 2) {
    grid-column: 8 / 13;
  }

  .single-project:nth-child(6n + 3) {
    grid-column: 1 / 6;
  }

  .single-project:nth-child(6n + 4) {
    grid-column: 6 / 13;
  }

  .skills {
    font-size: 3.5vw;
  }

  .offer-card {
    flex-basis: calc(50% - 1rem);
  }

  .hero-text {
    font-size: 9vw;
  }
}

@media (min-width: 768px) {
  nav {
    width: 380px;
  }

  nav > ul {
    gap: 18px;
  }

  .polaroid {
    max-width: 350px;
    margin-top: 0;
  }

  .socials {
    display: flex;
    gap: 12px;
  }

  .bottom div {
    display: flex;
    gap: 4px;
  }

  .footer-bottom {
    display: flex;
  }

  .socials {
    justify-content: flex-start;
  }

  .attribute {
    text-align: right;
  }

  header {
    font-size: 0.85rem;
  }
  .project-layout {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .skills {
    font-size: 2.5vw;
    padding: 0.25rem 0;
  }

  .bio {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .bio-text {
    width: 60%;
  }

  .circle {
    width: 30px;
    height: 30px;
  }

  .dark-mode-toggle {
    width: 30px;
    height: 30px;
  }

  .offer-card {
    flex-grow: 1;
    flex-basis: calc(25% - 1rem);
  }
}

.project-clipping {
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.7s ease-out;
}

.project-clipping.project-reveal {
  opacity: 1;
  transform: scale(1) translateY(0);
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.2s ease;
  pointer-events: none;
  z-index: 1000;
}

@media (pointer: coarse) {
  #custom-cursor {
    display: none; 
  }
}

.project-clipping:hover ~ #custom-cursor {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
