*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
}

:root {
  --secondary-font: "Fira Code", monospace;
  --light-bg-color: #ddd;
  --light-text-color: #1d1d1d;
  --dark-bg-color: #141414;
  --dark-text-color: #dfd3c3;
}

.dark-mode {
  --light-bg-color: var(--dark-bg-color);
  --light-text-color: var(--dark-text-color);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  transition: background 0.3s ease-out, color 0.3s ease-out;
  background-size: 300% 300%;
  background-position: top left;
}

body:before {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100%;
  background-image: url(./images/noise.jpg);
  background-size: cover;
  opacity: 0.05;
  z-index: -1000;
}

main {
  padding: 0 0.5rem;
  width: 90%;
  max-width: 68rem;
  margin: 0 auto;
}

section {
  padding: 2rem 2.5vw;
}

header {
  width: 90%;
  max-width: 68rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 4.5vw;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  height: 32px;
  transition: color 0.3s ease;
}

.nav-links li {
  text-decoration: none;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #7e78d2;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
  left: 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Stylish", serif;
  margin-top: 50px;
  margin-bottom: 1rem;
  position: relative;
}

.frontend-pill {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.hero-text {
  font-size: 9vw;
  display: flex;
  font-family: "Stylish", serif;
  font-weight: bold;
  letter-spacing: 8px;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
}

.hero-text span {
  transition: transform 0.3s ease;
}

.hero-text span:nth-child(1) {
  transform: rotate(-15deg);
  color: #ff6347;
}

.hero-text span:nth-child(2) {
  transform: scale(1.2);
  color: #e4be44;
}

.hero-text span:nth-child(3) {
  transform: rotate(6deg);
  color: #7e78d2;
}

.hero-text span:nth-child(4) {
  transform: rotate(-5deg);
  color: #2ecc71;
}

.hero-text span:nth-child(5) {
  transform: scale(1.1);
  color: #e74c3c;
}

.hero-text span:nth-child(6) {
  transform: scale(1.3);
  color: #3498db;
}

.hero-text span:nth-child(7) {
  transform: rotate(15deg);
  color: #2c6e49;
}

.hero-text span:nth-child(8) {
  transform: scale(0.9);
  color: #8e44ad;
}

.hero-text span:nth-child(2)::before {
  content: "\2605";
  font-size: 1.2em;
}

.hero-text span:nth-child(6)::before {
  content: "\263A";
  font-size: 1em;
}

.hero-text span:hover {
  transform: scale(1.5) rotate(10deg);
  color: #ff9f43;
  transition: all 0.2s ease-in-out;
}

.circled-text {
  position: relative;
  display: inline-block;
  padding: 5px 14px;
  font-weight: bold;
}

.circled-text::before {
  content: "";
  position: absolute;
  border: 2px solid #f39c12;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: pop-circle 1s ease-in-out;
}

.zigzag-underline {
  position: relative;
  display: inline-block;
}

.zigzag-underline::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10"%3E%3Cpath d="M0 5 Q 20 0 40 5 T 100 5" stroke="orange" fill="transparent" stroke-width="3" /%3E%3C/svg%3E');
  background-repeat: repeat-x;
  background-size: 40px 10px;
}

.polaroid {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-bottom: 16px;
  text-align: center;
  margin: 0 auto;
  max-width: 200px;
  transition: all 0.3s ease;
  transform: rotate(-3deg);
  margin-top: 1rem;
}

.polaroid:hover {
  transform: rotate(0deg) scale(1.05);
}

.polaroid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.pronoun {
  font-size: 0.65rem;
  color: gray;
}

.polaroid-text {
  padding-top: 14px;
  color: #615c5c;
}

.polaroid-name {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 9px;
}

.polaroid-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font-size: 1rem;
  font-weight: 600;
}

h2 {
  text-transform: uppercase;
  font-family: "Stylish", serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 6px;
  transition: font-size 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
}

.skills {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  position: relative;
}

.border-bottom {
  display: block;
  height: 1px;
  margin-top: 0.5rem;
  width: 100%;
  background: var(--light-text-color);
  opacity: 0.4;
  transition: width 0.5s cubic-bezier(0.87, 0, 0.13, 1) 0.4s;
}

.projects-container {
  width: 100%;
  margin: 0 auto;
}

.project-card {
  display: flex;
  margin: 1.2rem 0;
  gap: 24px;
}

.project-desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-desc > span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.desc-heading {
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--secondary-font);
}

.bottom-desc {
  display: flex;
  align-items: center;
  gap: 13px;
}

.tag-wrapper {
  display: flex;
  gap: 6px;
  text-transform: uppercase;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border-width: 1px;
  border-style: solid;
  background: #3498db;
  color: #141414;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.5rem;
  padding: 0.3rem 0.75rem;
}

.service-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.service-box {
  position: relative;
  text-align: left;
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 15rem;
  transition: 0.3s ease-in-out;
}

.service-box:nth-child(1) {
  background-color: #007bff;
}

.service-box:nth-child(2) {
  background-color: #7e78d2;
}

.service-box:nth-child(3) {
  background-color: #2c6e49;
}

.service-box:hover {
  transform: translateY(-0.4em);
}

.service-box h3 {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.service-box p {
  position: static;
  margin-top: 10px;
  font-size: 1rem;
  color: white;
}

.circle {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(to right, #ddd 50%, #141414 50%);
}

.circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("./images/noise.jpg");
  background-size: cover;
  opacity: 0.05;
  pointer-events: none;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.circle:hover {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.skip-link {
  position: absolute;
  top: -60px;
  left: 0;
  background: var(--light-bg-color);
  color: var(--light-text-color);
  padding: 6px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}

footer {
  padding: 0 0.5rem;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
}

@media (min-width: 500px) {
  .project-desc {
    flex-direction: row;
  }

  .project-card {
    padding-bottom: 0.75rem;
  }

  .hero-text {
    letter-spacing: 12px;
  }
}

@media (min-width: 600px) {
  .bio {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .bio-text {
    width: 60%;
  }

  .polaroid {
    max-width: 250px;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  nav {
    width: 380px;
  }

  nav > ul {
    gap: 18px;
  }

  .skills {
    font-size: 5vw;
  }

  .socials {
    display: flex;
    gap: 12px;
  }

  .bottom div {
    display: flex;
    gap: 4px;
  }

  .project-card {
    gap: 2rem;
  }

  .service-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  body {
    font-size: 0.85rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 1000px) {
  .skills {
    font-size: 3.5vw;
    padding: 0.25rem 0;
  }

  .circle {
    width: 30px;
    height: 30px;
  }

  .dark-mode-toggle {
    width: 30px;
    height: 30px;
  }
}
